section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
  align-items: center;
  padding: 20px 0;
}

section span {
  font-size: 2rem;
  font-family: var(--primary-font);
  font-weight: bold;
}

section ul {
  display: flex;
  justify-self: end;
  gap: 1rem;
  padding: 0;
}

section ul button {
  background: var(--nt-700);
  color: #fff;
  font-family: var(--primary-font);
  font-size: 1.1rem;
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid var(--nt-600);
}

section ul button:hover {
  background: var(--rd-400);
  color: var(--nt-900);
  border: 1px solid var(--nt-900);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

section ul button:focus {
  outline: 1.5px solid var(--rd-400);
  outline-offset: 2px;
}