section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 20px 0;
}

section span {
  font-size: 2rem;
  font-family: var(--primary-font);
  font-weight: bold;
}

section ul {
  display: flex;
  justify-self: end;
  gap: 1rem;
  padding: 0;
}

section ul button {
  font-family: var(--primary-font);
  font-size: 1.1rem;
  padding: 8px 20px;
  border-radius: 50px;
}

section ul button:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

section ul button:focus {
  outline-offset: 2px;
}