header {
  background-color: var(--nt-800);
  border-radius: 15px;
  padding: 10px 15px;
}

header article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header article img{
  width: 170px;
  height: 50px;
}

header button{
  display: flex;
  background-color: var(--nt-700);
  padding: 10px;
  border-radius: 10px;
  border: none;
}

header button:hover {
  background-color: var(--nt-600);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header button:focus {
  outline: 1.5px solid var(--rd-400);
  outline-offset: 2px;
}

header button img {
  width: 20px;
  height: 20px;
}