header {
  padding: 40px 0;
}

header article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 10px 15px;
}

header article img{
  width: 170px;
  height: 50px;
}

header button{
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

header button:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header button:focus {
  outline-offset: 2px;
}

header button img {
  width: 20px;
  height: 20px;
}