main {
  display: flex;
}

main section {
  display: flex;
  flex-direction: column;
  background: var(--nt-800);
  border: 1px solid var(--nt-600);
  border-radius: 20px;
  padding: 20px;
  width: 33%;
}

main section article {
  display: flex;
  align-items: start;
}

main section img {
  width: 55px;
  height: auto;
  border-radius: 10px;
}

main section div {
  margin-left: 15px;
}

main section span {
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}

main section p {
  color: var(--nt-300);
  font-size: 0.9rem;
  margin-top: 5px;
}

.bottom-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  margin: 0;
}

main section button {
  background: var(--nt-800);
  border: 1px solid var(--nt-600);
  border-radius: 50px;
  font-family: var(--ft-primary);
  font-size: 1rem;
  color: #fff;
  padding: 8px 15px;
  cursor: pointer;
}

main section button:hover {
  background: var(--nt-600);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background: var(--nt-800);
  display: grid;
  align-items: end;
  justify-items: end;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  width: 40px;
  height: 24px;
  background: var(--nt-600);
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.4s;
}

.switch input:checked + .slider {
  background-color: var(--rd-400);
  outline: 1.5px solid var(--rd-400);
  outline-offset: 2px;
}

.switch input:checked + .slider:before {
  transform: translate(15px, -50%);
}

main section button:focus {
  outline: 1.5px solid var(--rd-400);
  outline-offset: 2px;
}